.cursor-move {
    cursor: move;
}

.crm-card-pt-1>.el-card__body {
    padding-top: 8px !important;
}

.crm .el-table__body tr.current-row>td {
    background-color: var(--default-color);
    color: var(--light);
}

.crm .el-table__body tr {
    cursor: pointer !important;
}

.crm .el-table__body tr:hover>td {
    background-color: var(--default-color) !important;
    color: var(--light);
}
