// Body
$body-bg: #f2f2f2;
// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$test: red;

:root {
  --default-color: #1c6590;
}

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

button:focus {
  outline: 0;
  outline: none;
}

/*
    Dp css
*/

#app {
  min-width: 1200px;
  font-weight: 600 !important;
}

.app-main > div > table {
  background-color: white !important;
}

.mx-h-400 {
  max-height: 300px !important;
}

.nav li.nav-item {
  min-width: 70px !important;
}

.table-top-card > .el-tabs__header {
  margin-bottom: 0 !important;
}

.danger,
.danger .dropdown-toggle,
.danger .selected-tag {
  color: red;
  border-color: red;
}

.refresh_icon {
  cursor: pointer;
}

.plus-btn {
  margin-left: 0.5rem;
  color: #1a648f !important;
  cursor: pointer !important;
}

.modal-backdrop {
  z-index: 0 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.el-input {
  width: 100% !important;
}

.table thead th {
  vertical-align: middle !important;
}

.id_input {
  width: 80px !important;
}

.card {
  border-radius: 0 !important;
  width: 100%;
}

.el-drawer__body {
  overflow-y: scroll;
}

.table thead th {
  border-bottom: 5px !important;
}

.el-drawer__header {
  margin-bottom: 0 !important;
}

.modal-body-crm {
  max-height: 400px !important;
  overflow-y: scroll;
}

.modal-header {
  padding: 0.4rem 1rem !important;
}

.modal-body {
  padding: 0.4rem 1rem !important;
}

.select_product .el-select {
  display: block !important;
}

th > .el-select {
  display: block !important;
}

.v--modal-overlay .el-select {
  display: block !important;
}

.el-tree-node__content {
  display: block !important;
}

.el-tree-node__label {
  margin-left: 0.5rem;
}

.el-dropdown-menu__item {
  line-height: 20px !important;
}

div.client_contact_person {
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}

div.legal_details {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}

div.client_checking_account {
  padding: 20px;
  border-radius: 5px;
  background-color: #d9ecff;
  margin-bottom: 10px;
}

#el-drawer__title > span {
  font-size: 24px;
}

.levels-block > button {
  border: 0;
  border-radius: 8px 8px 0 0 !important;
  cursor: pointer;
}

.levels-block > button:focus {
  box-shadow: none !important;
}

.table-bordered > tbody > tr > td {
  border-right: 1px solid transparent;
}

.table-bordered > tbody > tr > td:last-child {
  border-right: 1px solid #dee2e6;
}

.table td {
  vertical-align: middle !important;
  font-weight: 600 !important;
}

.active-level {
  background-color: white !important;
  color: black !important;
  border: none !important;
}

.excel_btn {
  padding: 0 !important;
}

.font-style-italic {
  font-style: oblique !important;
  font-weight: 600 !important;
}

.parent_icon {
  transform: translateY(4px);
}

.settings-td > div > .el-button,
.settings-td > .el-button {
  padding: 3px 10px !important;
}

.el-dropdown-menu__item {
  font-size: 12px !important;
}

.app-main > div > table {
  background-color: #fff !important;
}

.width-100 {
  width: 100% !important;
}

thead {
  cursor: pointer;
}

table > thead > tr > th {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600 !important;
}

table > tbody > tr > td {
  color: rgba(0, 0, 0, 1);
  font-weight: 200 !important;
}

#saleEmployees .el-form-item__content {
  line-height: unset;
}

.crm-content-header-left-item {
  margin-right: 5px;
  max-width: 500px;
}

.crm-content-header-right-item {
  margin-left: 5px;
  max-width: 160px;
}

header.el-drawer__header {
  color: white;
  padding: 12px;
  margin-bottom: 4px !important;
  background-color: #1c6590;
}

#el-drawer__title > span {
  font-size: 19px;
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1400px !important;
  }
}

.--header {
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  background: #1f75a8;
  color: #fff;
  height: 58px;
}

.--header-logo {
  padding: 0 10px 0 0;
}

.--header > .nav {
  flex: 1;
}

.--header > .nav a {
  color: #c6ddea;
}

.--header > .nav a:hover {
  background: #1a648f;
  color: #fff;
}

.--header > .nav a.active {
  background: #1a648f;
}

.--header .dropdown button {
  font-size: 12px !important;
  background: #1a648f;
  color: #fff;
}

#pills-tab > li > a {
  font-size: 11px !important;
  padding: 0.5rem 1rem 0.5rem !important;
}

.active--nav-tab-item {
  border-bottom: 2px solid #1f75a8 !important;
}

.tab-content nav li > a {
  border-bottom: 2px solid #fff;
}

.tab-content nav li > a:hover {
  border-bottom: 2px solid #1f75a8;
}

.navbar-collapse {
  border-bottom: 1px solid #0202;
}

.nav-pills .nav-link {
  border-radius: 0 !important;
}

.dropdown-menu > a {
  font-size: 12px !important;
  color: black !important;
}

.tab-content nav li > a {
  font-size: 12px !important;
  transition: all 0.4s;
}

#pills-tab > li > a img {
  display: block;
  margin: 0 auto 5px;
}

.no--gutter {
  padding: 0;
}

.avatar--settings,
.avatar--settings-icon {
  display: flex;
  align-items: center;
}

.avatar--settings-descr {
  font-weight: 300;
}

.avatar--settings-name {
  margin: 0;
  font-size: 12px;
  text-align: right;
  margin-bottom: -7px;
}

.avatar--settings-descr > span {
  font-size: 11px;
}

.avatar--settings-icon > div {
  margin: 0 10px 0 15px;
}

.avatar--settings {
  cursor: pointer;
}

.nav li.nav-item {
  width: 9%;
}

.navbar {
  padding: 0 1.2rem !important;
}

@media only screen and (max-width: 1400px) {
  .nav li.nav-item {
    width: 9%;
  }
}

.el-button:active {
  color: #3a8ee6;
  border-color: initial !important;
  outline: 0;
}

.style__label {
  .el-form-item__label {
    line-height: 23px !important;
    margin: 0px;
    width: 100%;
    text-align: left;
  }

  .width-select {
    width: 100% !important;
  }
}

.color_tab > thead > tr > th {
  color: #000 !important;
}

.collapse_style {
  padding: 25px;

  .el-collapse {
    border-top: none;
    border-bottom: none;
  }

  .el-collapse-item {
    padding: 0 20px;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
  }

  .el-collapse-item__wrap {
    border: none;
  }

  .el-collapse-item__header {
    border-bottom: none;
  }
}

.Widht_5 {
  width: 50px;
}

.Widht_10 {
  width: 80px;
}

.icon_font {
  margin-right: 7px !important;
  font-size: 25px;
}

.border_mini {
  border: 1px solid #ebeef5;
}

.style__icon_plus {
  font-size: 17px;
  height: 32px;
  line-height: 30px;
  width: 30px;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #dcdfe6;
  display: inline-block;
  padding: 0px 0px 0px 5px;
  cursor: pointer;
  margin-left: 10px;
}

.pa20 {
  padding: 20px;
}

.body__modal {
  margin: 20px;
}

.flexx .el-form-item__content {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}

.p9_20 {
  padding: 9px 20px !important;
}

.styleIDUser {
  border: 1px solid #dcdfe675;
  padding: 5px 20px 15px 20px !important;
  border-radius: 5px;
  margin-top: -5px;
  margin-bottom: 20px;

  .el-form-item {
    margin-bottom: 0px !important;
  }
}

.width-select2 {
  .el-select,
  .el-input-number {
    width: 100% !important;
  }
}

.p_20_10 .el-card__body {
  padding: 20px;
  padding-bottom: 10px !important;
}

.w_270 .el-select {
  width: 270px;
}

@media screen and (max-width: 1400px) {
  .nav li.nav-item {
    width: auto !important;
  }
}

.page-title {
  font-size: 22px;
  line-height: 1.1;
  margin: 10px 0px;
}

.building-card__bg {
  background-size: cover;
  width: 100%;
  min-height: 200px;
  background-position: center;
  display: flex;
}

.building-card__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex: 1;
  background: #ffffff94;
}

.building-card__actions {
  min-height: 50px;
  background-color: white;
}

.font_18 {
  font-size: 18px;
}

.bg_color {
  background: #e8e8e84d;
  padding: 5px 10px 15px 5px;
  border-radius: 5px;
}

.modal_icon_ix .el-dialog__headerbtn {
  border: 1px solid #fff;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding-top: 2px;
  margin-top: -30px;
  margin-right: -30px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.CopuHomeModal .text {
  color: #a6a6a6 !important;
  font-size: 12px;
  margin-bottom: 20px;
}

.building-card__actions a {
  cursor: pointer;
}

.content-card__title {
  font-size: 20px;
  line-height: 1;
  display: block;
  color: #5cb85c;
}

.content-card__status {
  margin: 5px 0 0;
  color: #a6a6a6;
}

.edithouse_top_blocks {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  min-height: 165px;

  .top_blocks i {
    color: #5cb85c;
    font-size: 40px;
    margin-right: 10px;
  }
}

.info_abjects {
  min-height: 300px;
}

.info_abjects_title {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 15px;
}

.wi100 {
  width: 150px;
}

.color1 {
  color: #888;
  font-size: 15px;
  margin-right: 30px;
  display: block;
  margin: 10px 0px;
}

.color2 {
  color: #000;
  font-size: 15px;
}

.info_abjects_LEFT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.img_abjects_LEFT {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f2f2f2e8;
  padding: 20px;
  margin-top: 20px;
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}

.style_switch {
  border: 1px solid #f2f2f2;
  padding: 9px !important;
  height: 34px !important;
  border-radius: 5px;
  margin-right: 10px;
  background: #67c239;

  .el-switch__label {
    color: #fff;
  }

  .el-switch__label.is-active {
    color: #fff;
  }
}

.info_flpprPlans {
  margin: 20px 0 10px 0;
  position: relative;
  border: 3px dashed #e0e0e0;
  padding: 20px 40px;
}

.block_add .img_isolate {
  height: 80px;
  width: 80px;
  -o-object-fit: cover;
  object-fit: contain;
}

.block_add {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.but_style .el-button {
  min-width: 140px;
  margin: 5px 5px 5px 0;
}

.aad-Floor .el-tabs__header {
  margin: 0px;
  border: none;
}

.aad-Floor .el-tabs--card > .el-tabs__header {
  border-bottom: none;
}

.aad-Floor .el-tabs__content .el-tab-pane {
  border-top: 1px solid #e4e7ed;
  padding: 20px;
}

.aad-Floor {
  background-color: #fff;
}

.add-Above-Ground-Floor {
  margin: 10px;
  position: relative;
  border-radius: 7px;

  // overflow: hidden;
  .el-collapse {
    flex: 1;
    border-top: none;
    border-bottom: none;
  }

  .el-collapse-item__header {
    display: block;
    background-color: initial;
  }

  .el-collapse-item__header,
  .el-collapse-item__wrap {
    padding: 0 20px;
  }

  .el-collapse-item {
    background-color: #f2f2f233;
    border: 1px solid #cacaca;
    border-radius: 7px;
  }

  .el-collapse-item__wrap {
    background-color: initial;
  }

  .btn-floating {
    color: red;
    position: absolute;
    right: 10px;
    top: 6px;
    border: none;
    font-size: 26px;
    background-color: initial;
  }
}

.pus_but {
  border: none !important;
  padding: 0px !important;
  color: #67c23a;
  margin-bottom: 10px !important;
}

.add__room {
  position: absolute;
  top: 10px;
  right: 90px;
}

.add-room-title {
  font-size: 16px;
}

.copy_block {
  right: 45px !important;
  color: #67c23a !important;
}

.col__1 {
  max-width: 200px;
  min-width: 100px;
  width: 10%;
}

.popover_input {
  display: flex;

  .el-button--mini,
  .el-button--mini.is-round {
    padding: 5px 9px;
    margin: 0px !important;
  }
}

.style_popover .s__but {
  background: no-repeat;
  padding: 0px;
  border: none;
  color: #0088cc;
  border-bottom: dashed 1px #0088cc;
  font-size: 15px;
  margin-left: 7px;
}

.mark-chess {
  padding-top: 10px;

  span {
    margin: 0 3px;
    border-bottom: 1px dashed;
    -webkit-transition: border-bottom 0.2s ease;
    transition: border-bottom 0.2s ease;
  }

  .dashed {
    margin: 0 3px;
    border-bottom: 1px dashed;
    -webkit-transition: border-bottom 0.2s ease;
    transition: border-bottom 0.2s ease;
    color: #3884d2;
    display: inline-block;
    cursor: pointer;
  }

  .dashed:hover {
    border-bottom-color: transparent;
    color: #a2232a;
  }
}

// .mark-chess-modal{
//     background: #000;
//     background-image: url('/images/fonn.jpg');
//     padding-bottom: 30px;
// }
.mark-chess-modal {
  display: flex;
  display: flex;
  padding-top: 20px;
  position: relative;

  .content_s {
    // background-color: #888;
    flex: 1;
    display: flex;
    align-items: flex-end;
  }

  .square-four {
    padding: 3px 0px 5px 0px;
  }

  .square-four div,
  .square-four div span {
    margin: 3px 4px;
    height: 27px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .square-four div span {
    margin: 0;
  }

  // .content_s .squares.mini_squares{
  //     flex: 1;
  // }
  .mini_squares .square-four {
    display: flex;
    padding: 3px 7px 5px 7px;
    min-height: 40px;
  }

  .mini_squares .square-four div {
    background-color: #67c23a;
    color: #fff;
    cursor: pointer;
  }
}

.title-square-four {
  font-size: 13px;
  color: #a6a6a6;
  height: 36px;
  margin-left: 14px;
}

.active1 {
  background-color: #409eff !important;
}

/**   =======================> sytle  object_sale <======================= **/

.style_building {
  border-radius: 5px;
  width: 100%;
  min-height: 270px;
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid #fff;
}

.add_building {
  i {
    font-size: 50px;
    color: #f2f2f2;
    margin-top: -20px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 100%;
  }
}

.footer_Complex {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  span {
    border: 1px solid #f2f2f2;
    height: 30px;
  }

  a span {
    font-size: 16px;
    display: block;
    border: none;
    text-align: center;
    height: auto;
    line-height: 21px;
  }

  a {
    color: #000;
  }
}

.info_Complex {
  flex: 1;
  width: 100%;
  background-color: #2475a81a;
}

.name_Complex {
  font-size: 18px;
  font-weight: 600;
}

.data_Complex {
  font-size: 13px;
  font-weight: 300;
  color: #2125284d;
}

.info-object-sale {
  font-size: 13px;
  margin: 15px 0px;
  padding: 0px 20px;
}

.sale-select {
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ebeef5;
  padding: 15px 10px;
}

.Objects_ssle .info_Complex {
  padding-top: 20px;
}

.b-select-item {
  display: flex;
  align-items: center;
}

.b-select-item__image-col {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.b-select-item__image-col img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.b-select-item__descr {
  font-size: 13px;
  color: #a6a6a6;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 5px;
  position: relative;
  top: -3px;
  display: flex;
}

.b-select-item__descr-item {
  margin-right: 60px;
}

.b-select-item__name {
  font-size: 18px;
  color: #1b6590;
}

.tip_sale_but {
  color: #fff !important;
  background: #1b6590;
  padding: 10px;
  width: 250px;
  border-radius: 4px;
  // width: 100%;
}

.el-dropdown-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.el-dropdown-link .flex1 {
  flex: 1;
  text-align: right;
}

.ul_sale_but {
  min-width: 230px;
}

.ul_sale_but .el-dropdown-menu__item {
  font-size: 15px !important;
  padding: 5px;
}

.ifon-sale-squver-title {
  // margin-bottom: 10px;
  font-size: 15px;

  span {
    font-size: 16px;
    font-weight: 700;
  }
}

.ifon-sale-squver-color {
  display: flex;

  span {
    margin-right: 20px;
    color: #a6a6a6;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}

.squver-color {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 5px;
  display: inline-block;
}

.squver-color.free,
.free_home {
  background-color: #67c23a !important;
}

.squver-color.booked,
.fooked_home {
  background-color: #ffb400 !important;
}

.squver-color.sold,
.sold_home {
  background-color: #409eff !important;
}

.squver-color.unavailable {
  background-color: #eaeaea !important;
}

.unava_home {
  background-color: #eaeaea !important;
  color: #333;
}

.filter-modal-sale {
  // width: 330px;
  margin-right: 20px;

  .el-input {
    margin-right: 10px;
  }
}

.demo-input-label {
  color: #a6a6a6;
  font-size: 11px;
  line-height: 15px;
  min-height: 15px;
}

.collectionInfo {
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;

  .cord_img {
    height: 300px;
    width: 100%;
    text-align: center;
  }

  img {
    width: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
}

.size_home {
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: -20px;
  padding: 0 10px;

  .right_flex {
    flex: 1;
    text-align: right;
  }

  .squver-color {
    width: 30px;
    height: 30px;
  }
}

.size_home_info {
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.sale_prast_sheet_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  flex: 1;
}

.sale_prast_sheet {
  margin: 10px 20px;
}

.sale_prast_sheet .el-dropdown,
.sale_prast_sheet .el-button {
  width: 100%;
  min-width: 300px;
}

.sal_but_srcol {
  width: 350px;
  height: 350px;
  overflow-y: scroll;
}

.sale_prast_sheet .el-button > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.narx {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  color: #000;
}

.qavat {
  font-size: 16px;
  margin-bottom: 5px;
  color: #000;
}

.sale_prast_sheet_info-right {
  padding: 10px;
  border-left: 1px solid #cacaca;
  margin-left: 10px;
}

.sal_but_srcol .sale_prast_sheet_info {
  margin: 10px 0px;
}

.top-modal-sale-header {
  height: 85px;
}

.font_16 {
  font-size: 16px;
}

.shtuk_free {
  color: #67c23a;
}

.shtuk_booked {
  color: #ffb400 !important;
}

.shtuk_sold {
  color: #409eff !important;
}

.title_header_fix {
  height: 85px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 9;
  background: #fff;
}

.apartment-preview {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
  padding: 10px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  display: block;
}

.apartment-preview__title {
  font-size: 18px;
}

.apartment-preview__description {
  font-size: 14px;
  margin-bottom: 10px;
  color: #a6a6a6;
}

.preview__img_sum {
  img {
    width: 250px;
    height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

.preview__img_sum {
  margin-top: 10px;
}

.preview_room {
  margin-bottom: 5px;
}

.preview_room span {
  font-size: 17px;
  color: #a6a6a6;
  margin-right: 30px;
}

.preview__sum_sum .nax {
  font-size: 25px;
  font-weight: bold;
}

.preview__description {
  font-size: 17px;
  font-weight: bold;

  span {
    margin-left: 5px;
    color: #a6a6a6;
  }
}

.apartment-preview__title {
  padding-bottom: 10px;
  //   border-bottom: 1px solid #b0b0b052;
}

.el__slider {
  width: 100%;
  display: flex;
  margin-top: 15px;

  .slider__block {
    flex: 1;
    /* width: 48%; */
    margin-right: 20px;
  }

  .title_slider__block {
    margin-bottom: -10px;
    display: block;
    margin-left: -6px;
    color: #a6a6a6;
    font-size: 11px;
  }
}

/**   =======================> end sytle  object_sale <======================= **/

/* Written by Azizbek Eshonaliyev */

.crm-table-header-border-0 > td,
.crm-table-header-border-0 > th {
  border: 0 !important;
}

.el-form-item__info {
  color: #38c172;
  font-size: 12px;
  line-height: 1;
  padding-top: 0px;
  position: absolute;
  top: 100%;
  left: 0;
}

.add-room-table .table-bordered > tbody > tr > td {
  border-right: 1px solid #dee2e6;
}

.crm > .el-tag {
  font-size: 14px !important;
}

span.messageCount {
  background-color: #f56c6c;
  color: white;
  padding: 0px 4px;
  border: 1px solid #f56c6c;
  border-radius: 9px;
}

.el-table .warning-row {
  background: #fe71715e;
}

.document-title {
  font-size: 16px;
}

.el-form-item__error {
  top: 80% !important;
}

.crm-document-number > label {
  width: auto !important;
}

.crm-document-number > .el-form-item__content {
  margin-left: 0 !important;
}

.crm-el-table .el-table__empty-block {
  min-height: 0 !important;
}

/* * end of Azizbek's code* */

#app {
  min-width: 1200px;
}

.app-main > div > table {
  background-color: white !important;
}

.mx-h-400 {
  max-height: 300px !important;
}

.nav li.nav-item {
  min-width: 70px !important;
}

.table-top-card > .el-tabs__header {
  margin-bottom: 0 !important;
}

.danger,
.danger .dropdown-toggle,
.danger .selected-tag {
  color: red;
  border-color: red;
}

.refresh_icon {
  cursor: pointer;
}

.plus-btn {
  margin-left: 0.5rem;
  color: #1a648f !important;
  cursor: pointer !important;
}

.modal-backdrop {
  z-index: 0 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.el-input {
  width: 100% !important;
}

.table thead th {
  vertical-align: middle !important;
  font-weight: 600 !important;
}

.id_input {
  width: 80px !important;
}

.card {
  border-radius: 0 !important;
  width: 100%;
}

.el-drawer__body {
  overflow-y: scroll;
}

.table thead th {
  border-bottom: 5px !important;
}

.el-drawer__header {
  margin-bottom: 0 !important;
}

.modal-body-crm {
  max-height: 400px !important;
  overflow-y: scroll;
}

.modal-header {
  padding: 0.4rem 1rem !important;
}

.modal-body {
  padding: 0.4rem 1rem !important;
}

.select_product .el-select {
  display: block !important;
}

th > .el-select {
  display: block !important;
}

.v--modal-overlay .el-select {
  display: block !important;
}

.el-tree-node__content {
  display: block !important;
}

.el-tree-node__label {
  margin-left: 0.5rem;
}

.el-dropdown-menu__item {
  line-height: 20px !important;
}

div.client_contact_person {
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}

div.legal_details {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}

div.client_checking_account {
  padding: 20px;
  border-radius: 5px;
  background-color: #d9ecff;
  margin-bottom: 10px;
}

#el-drawer__title > span {
  font-size: 24px;
}

.levels-block > button {
  border: 0;
  border-radius: 8px 8px 0 0 !important;
  cursor: pointer;
}

.levels-block > button:focus {
  box-shadow: none !important;
}

.table-bordered > tbody > tr > td {
  border-right: 1px solid transparent;
}

.table-bordered > tbody > tr > td:last-child {
  border-right: 1px solid #dee2e6;
}

.table td {
  vertical-align: middle !important;
}

.active-level {
  background-color: white !important;
  color: black !important;
  border: none !important;
}

.excel_btn {
  padding: 0 !important;
}

.font-style-italic {
  font-style: oblique !important;
  font-weight: 600 !important;
}

.parent_icon {
  transform: translateY(4px);
}

.settings-td > div > .el-button,
.settings-td > .el-button {
  padding: 3px 10px !important;
}

.el-dropdown-menu__item {
  font-size: 12px !important;
}

.app-main > div > table {
  background-color: #fff !important;
}

.width-100 {
  width: 100% !important;
}

thead {
  cursor: pointer;
}

table > thead > tr > th {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600 !important;
}

table > tbody > tr > td {
  color: rgba(0, 0, 0, 1);
  font-weight: 200 !important;
}

#saleEmployees .el-form-item__content {
  line-height: unset;
}

.crm-content-header-left-item {
  margin-right: 5px;
  max-width: 500px;
}

.crm-content-header-right-item {
  margin-left: 5px;
  max-width: 160px;
}

header.el-drawer__header {
  color: white;
  padding: 12px;
  margin-bottom: 4px !important;
  background-color: #1c6590;
}

#el-drawer__title > span {
  font-size: 19px;
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1400px !important;
  }
}

.--header {
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  background: #1f75a8;
  color: #fff;
  height: 58px;
}

.--header-logo {
  padding: 0 10px 0 0;
}

.--header > .nav {
  flex: 1;
}

.--header > .nav a {
  color: #c6ddea;
}

.--header > .nav a:hover {
  background: #1a648f;
  color: #fff;
}

.--header > .nav a.active {
  background: #1a648f;
}

.--header .dropdown button {
  font-size: 12px !important;
  background: #1a648f;
  color: #fff;
}

#pills-tab > li > a {
  font-size: 11px !important;
  padding: 0.5rem 1rem 0.5rem !important;
}

.active--nav-tab-item {
  border-bottom: 2px solid #1f75a8 !important;
}

.tab-content nav li > a {
  border-bottom: 2px solid #fff;
}

.tab-content nav li > a:hover {
  border-bottom: 2px solid #1f75a8;
}

.navbar-collapse {
  border-bottom: 1px solid #0202;
}

.nav-pills .nav-link {
  border-radius: 0 !important;
}

.dropdown-menu > a {
  font-size: 12px !important;
  color: black !important;
}

.tab-content nav li > a {
  font-size: 12px !important;
  transition: all 0.4s;
}

#pills-tab > li > a img {
  display: block;
  margin: 0 auto 5px;
}

.no--gutter {
  padding: 0;
}

.avatar--settings,
.avatar--settings-icon {
  display: flex;
  align-items: center;
}

.avatar--settings-descr {
  font-weight: 300;
}

.avatar--settings-name {
  margin: 0;
  font-size: 12px;
  text-align: right;
  margin-bottom: -7px;
}

.avatar--settings-descr > span {
  font-size: 11px;
}

.avatar--settings-icon > div {
  margin: 0 10px 0 15px;
}

.avatar--settings {
  cursor: pointer;
}

.nav li.nav-item {
  width: 8%;
}

.navbar {
  padding: 0 1.2rem !important;
}

@media only screen and (max-width: 1400px) {
  .nav li.nav-item {
    width: 9%;
  }
}

.el-button:active {
  color: #3a8ee6;
  border-color: initial !important;
  outline: 0;
}

.style__label {
  .el-form-item__label {
    line-height: 23px !important;
    margin: 0px;
    width: 100%;
    text-align: left;
  }

  .width-select {
    width: 100% !important;
  }
}

.color_tab > thead > tr > th {
  color: #000 !important;
}

.collapse_style {
  padding: 25px;

  .el-collapse {
    border-top: none;
    border-bottom: none;
  }

  .el-collapse-item {
    padding: 0 20px;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
  }

  .el-collapse-item__wrap {
    border: none;
  }

  .el-collapse-item__header {
    border-bottom: none;
  }
}

.Widht_5 {
  width: 50px;
}

.Widht_10 {
  width: 80px;
}

.icon_font {
  margin-right: 7px !important;
  font-size: 25px;
}

.border_mini {
  border: 1px solid #ebeef5;
}

.style__icon_plus {
  font-size: 17px;
  height: 32px;
  line-height: 30px;
  width: 30px;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #dcdfe6;
  display: inline-block;
  padding: 0px 0px 0px 5px;
  cursor: pointer;
  margin-left: 10px;
}

.pa20 {
  padding: 20px;
}

.body__modal {
  margin: 20px;
}

.flexx .el-form-item__content {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}

.p9_20 {
  padding: 9px 20px !important;
}

.styleIDUser {
  border: 1px solid #dcdfe675;
  padding: 5px 20px 15px 20px !important;
  border-radius: 5px;
  margin-top: -5px;
  margin-bottom: 20px;

  .el-form-item {
    margin-bottom: 0px !important;
  }
}

.width-select2 {
  .el-select,
  .el-input-number {
    width: 100% !important;
  }
}

.p_20_10 .el-card__body {
  padding: 20px;
  padding-bottom: 10px !important;
}

.w_270 .el-select {
  width: 270px;
}

@media screen and (max-width: 1400px) {
  .nav li.nav-item {
    width: auto !important;
  }
}

.page-title {
  font-size: 22px;
  line-height: 1.1;
  margin: 10px 0px;
}

.building-card__bg {
  background-size: cover;
  width: 100%;
  min-height: 200px;
  background-position: center;
  display: flex;
}

.building-card__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex: 1;
  background: #ffffff94;
}

.building-card__actions {
  min-height: 50px;
  background-color: white;
}

.font_18 {
  font-size: 18px;
}

.bg_color {
  background: #e8e8e84d;
  padding: 5px 10px 15px 5px;
  border-radius: 5px;
}

.modal_icon_ix .el-dialog__headerbtn {
  border: 1px solid #fff;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding-top: 2px;
  margin-top: -30px;
  margin-right: -30px;
}

.CopuHomeModal .text {
  color: #a6a6a6 !important;
  font-size: 12px;
  margin-bottom: 20px;
}

.building-card__actions a {
  cursor: pointer;
}

.content-card__title {
  font-size: 20px;
  line-height: 1;
  display: block;
  color: #5cb85c;
}

.content-card__status {
  margin: 5px 0 0;
  color: #a6a6a6;
}

.edithouse_top_blocks {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  min-height: 165px;

  .top_blocks i {
    color: #5cb85c;
    font-size: 40px;
    margin-right: 10px;
  }
}

.info_abjects {
  min-height: 300px;
}

.info_abjects_title {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 15px;
}

.wi100 {
  width: 150px;
}

.color1 {
  color: #888;
  font-size: 15px;
  margin-right: 30px;
  display: block;
  margin: 10px 0px;
}

.color2 {
  color: #000;
  font-size: 15px;
}

.info_abjects_LEFT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.img_abjects_LEFT {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f2f2f2e8;
  padding: 20px;
  margin-top: 20px;
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}

.style_switch {
  border: 1px solid #f2f2f2;
  padding: 9px !important;
  height: 34px !important;
  border-radius: 5px;
  margin-right: 10px;
  background: #67c239;

  .el-switch__label {
    color: #fff;
  }

  .el-switch__label.is-active {
    color: #fff;
  }
}

.info_flpprPlans {
  margin: 20px 0 10px 0;
  position: relative;
  border: 3px dashed #e0e0e0;
  padding: 20px 40px;
}

.block_add .img_isolate {
  height: 80px;
  width: 80px;
  -o-object-fit: cover;
  object-fit: contain;
}

.block_add {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.but_style .el-button {
  min-width: 140px;
  margin: 5px 5px 5px 0;
}

.aad-Floor .el-tabs__header {
  margin: 0px;
  border: none;
}

.aad-Floor .el-tabs--card > .el-tabs__header {
  border-bottom: none;
}

.aad-Floor .el-tabs__content .el-tab-pane {
  border-top: 1px solid #e4e7ed;
  padding: 20px;
}

.aad-Floor {
  background-color: #fff;
}

.add-Above-Ground-Floor {
  margin: 10px;
  position: relative;
  border-radius: 7px;

  // overflow: hidden;
  .el-collapse {
    flex: 1;
    border-top: none;
    border-bottom: none;
  }

  .el-collapse-item__header {
    display: block;
    background-color: initial;
  }

  .el-collapse-item__header,
  .el-collapse-item__wrap {
    padding: 0 20px;
  }

  .el-collapse-item {
    background-color: #f2f2f233;
    border: 1px solid #cacaca;
    border-radius: 7px;
  }

  .el-collapse-item__wrap {
    background-color: initial;
  }

  .btn-floating {
    color: red;
    position: absolute;
    right: 10px;
    top: 6px;
    border: none;
    font-size: 26px;
    background-color: initial;
  }
}

.pus_but {
  border: none !important;
  padding: 0px !important;
  color: #67c23a;
  margin-bottom: 10px !important;
}

.add__room {
  position: absolute;
  top: 10px;
  right: 90px;
}

.add-room-title {
  font-size: 16px;
}

.copy_block {
  right: 45px !important;
  color: #67c23a !important;
}

.col__1 {
  max-width: 200px;
  min-width: 100px;
  width: 10%;
}

.popover_input {
  display: flex;

  .el-button--mini,
  .el-button--mini.is-round {
    padding: 5px 9px;
    margin: 0px !important;
  }
}

.style_popover .s__but {
  background: no-repeat;
  padding: 0px;
  border: none;
  color: #0088cc;
  border-bottom: dashed 1px #0088cc;
  font-size: 15px;
  margin-left: 7px;
}

.mark-chess {
  padding-top: 10px;

  span {
    margin: 0 3px;
    border-bottom: 1px dashed;
    -webkit-transition: border-bottom 0.2s ease;
    transition: border-bottom 0.2s ease;
  }

  .dashed {
    margin: 0 3px;
    border-bottom: 1px dashed;
    -webkit-transition: border-bottom 0.2s ease;
    transition: border-bottom 0.2s ease;
    color: #3884d2;
    display: inline-block;
    cursor: pointer;
  }

  .dashed:hover {
    border-bottom-color: transparent;
    color: #a2232a;
  }
}

// .mark-chess-modal{
//     background: #000;
//     background-image: url('/images/fonn.jpg');
//     padding-bottom: 30px;
// }
.mark-chess-modal {
  display: flex;

  .content_s {
    // background-color: #888;
    flex: 1;
    display: flex;
    align-items: flex-end;
  }

  .square-four {
    padding: 3px 0px 5px 0px;
  }

  .square-four div,
  .square-four div span {
    margin: 3px 4px;
    height: 27px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .square-four div span {
    margin: 0;
  }

  // .content_s .squares.mini_squares{
  //     flex: 1;
  // }
  .mini_squares .square-four {
    display: flex;
    padding: 3px 7px 5px 7px;
  }

  .mini_squares .square-four div {
    background-color: #67c23a;
    color: #fff;
    cursor: pointer;
  }
}

.active1 {
  background-color: #409eff !important;
}

/*
* Written by Azizbek Eshonaliyev
*/

.crm-table-header-border-0 > td,
.crm-table-header-border-0 > th {
  border: 0 !important;
}

.el-form-item__info {
  color: #38c172;
  font-size: 12px;
  line-height: 1;
  padding-top: 0px;
  position: absolute;
  top: 100%;
  left: 0;
}

.add-room-table .table-bordered > tbody > tr > td {
  border-right: 1px solid #dee2e6;
}

.crm > .el-tag {
  font-size: 14px !important;
}

span.messageCount {
  background-color: #f56c6c;
  color: white;
  padding: 0px 4px;
  border: 1px solid #f56c6c;
  border-radius: 9px;
}

.el-table .warning-row {
  background: #fe71715e;
}

.el-table .success-row {
  background: #b5f6d0;
}

.document-title {
  font-size: 20px;
}

.el-form-item__error {
  top: 80% !important;
}

.crm-document-number > label {
  width: auto !important;
}

.crm-document-number > .el-form-item__content {
  margin-left: 0 !important;
}

.crm-el-table .el-table__empty-block {
  min-height: 0 !important;
}

.el-input-group__append_measurement {
  background-color: #fff !important;
}

.el-input-group__append_measurement > i {
  font-style: normal !important;
}

/*
* end of Azizbek's code
*/

/* * end of Azizbek's code* */
.grupp__tree {
  padding: 10px;
}

.svvichLL {
  display: block;
  margin-bottom: 32px;

  .el-switch__label {
    display: block;
  }

  span {
    color: #000;
  }
}

.tree__checkbox {
  .el-tree-node__content {
    display: flex !important;
  }
}

.red_off {
  color: #f56c6c;
  background: #fef0f0;
  //   border-color: #fbc4c4;
}

.gre_on {
  color: #67c23a;
  background: #f0f9eb;
}

.yel_cer {
  color: #e6a23c;
  background: #fdf6ec;
}

.min_off {
  color: #409eff;
  background: #ecf5ff;
}

.w_50 {
  width: 120px;
}

.el-range-separator {
  z-index: 1;
}

.back-button-wrapper {
  position: relative;
  display: inline-block;
  font-size: 0;
  white-space: nowrap;
}

.back-button {
  height: 30px;
  padding: 0 12px;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
  color: #fff !important;
  outline: none;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.but_color2 {
  color: #1f75a8 !important;
}

.mr_10 {
  margin-right: -15px;
}

.but_color1 {
  background: #1f75a8;
  border: 1px solid #1f75a8 !important;
}

.actions.but_color2 {
  color: #67c23a !important;
}

.actions .but_color1 {
  background: #67c23a;
  border: 1px solid #67c23a !important;
}

.back-button-triangle,
.back-button-transparent {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  top: 0;
  border: 15.5px solid transparent;
  border-left: 10px solid;
  box-sizing: border-box;
}

.nomer {
  // background-color: white;
  color: #fff;
  font-weight: 700;
}

header.el-drawer__header {
  color: white;
  padding: 12px;
  height: 58px;
  margin-bottom: 4px !important;
  background-color: #1c6590;
}

#el-drawer__title > span {
  font-size: 19px;
}

.style__label {
  .el-form-item__label {
    line-height: 23px !important;
    margin: 0px;
    width: 100%;
    text-align: left;
  }

  .width-select {
    width: 100% !important;
  }
}

.pa20 {
  padding: 20px;
}

.modal__foterbtu {
  margin: -30px -20px;
  margin-top: 30px;
  text-align: center;
  background: #eaeaea69;
  padding: 10px;
}

.link_vue {
  color: #fff;
  background-color: #67c23a;
  border-color: #67c23a;
  padding: 10px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  text-decoration: none;

  i {
    margin-right: 5px;
  }
}

.link_vue:hover {
  text-decoration: none;
  color: none;
}

.font_weight {
  font-weight: 700;
}

.blockas_eliment {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 0px;
}

.divr {
  background-color: #f0f9eb;
  color: #67c23a;
  min-width: 156px;
  padding: 2px 6px;
  border: 1px solid #67c23a8a;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}

.bg_color_table {
  background-color: #e4e7ed;
}

.user_info {
  background-color: #fff;
}

.user_info_top_menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 0px;

  .actionli {
    border-bottom: 1px solid #2575a8;
  }

  li {
    margin-bottom: -1px;

    a {
      color: #000;
      margin: 0px 20px;
      padding: 15px 0px;
      display: block;
    }

    a:hover {
      color: #000;
      text-decoration: none;
    }
  }
}

.act_color {
  background-color: #67c23a;
  color: #fff;
  padding: 2px 7px;
  border-radius: 10px;
}

.clent_calabs {
  margin-bottom: 20px;

  .el-card__body {
    padding: 0px;
  }

  .el-collapse {
    border-top: 1px solid #ebeef500;
    border-bottom: 1px solid #ebeef500;
  }

  .el-collapse-item__header,
  .el-collapse-item__header.is-active {
    border-bottom: 1px solid #ebeef5;
  }

  .el-collapse-item__header,
  .el-collapse-item__content {
    padding: 20px;
  }
}

.event_created {
    background-color: #f0f9eb;
    color: #67c23a;
    min-width: 156px;
    padding: 2px 6px;
    border: 1px solid #67c23a8a;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

.event_updated {
    background-color: #f4d8ad61;
    color: #eea331;
    min-width: 156px;
    padding: 2px 6px;
    border: 1px solid #e6a23c85;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

.event_deleted {
    background-color: #eca6a447;
    color: #e3342f;
    min-width: 156px;
    padding: 2px 6px;
    border: 1px solid #e3342fa6;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

.act_warning_color {
    background-color: #e6a23c;
    color: #fff;
    padding: 2px 7px;
    border-radius: 10px;
}

.act_danger_color {
    background-color: #e3342f;
    color: #fff;
    padding: 2px 7px;
    border-radius: 10px;
}

.divr_payme {
    background-color: #00CCCC;
    color: white;
    min-width: 156px;
    padding: 2px 6px;
    border: 1px solid #00B3B3;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
  }

  .divr_click {
    background-color: #00A7F8;
    color: white;
    min-width: 156px;
    padding: 2px 6px;
    border: 1px solid #008ACC;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
  }

  .divr_paynet {
    background-color: #00B101;
    color: white;
    min-width: 156px;
    padding: 2px 6px;
    border: 1px solid #009F00;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
  }

  .divr_status_warning {
    background-color: #e6a23c;
    color: white;
    min-width: 156px;
    padding: 2px 6px;
    border: 1px solid #da870a;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
  }

  .divr_status_succes {
    background-color: #67c23a;
    color: white;
    min-width: 156px;
    padding: 2px 6px;
    border: 1px solid #3db502;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
  }

  .divr_status_completed {
    background-color: #1f75a8;
    color: white;
    min-width: 156px;
    padding: 2px 6px;
    border: 1px solid #0b78b9;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
  }

  .divr_status_danger {
    background-color: #f56c6c;
    color: white;
    min-width: 156px;
    padding: 2px 6px;
    border: 1px solid #ee6363;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
  }

  .font_weight_bold_600 {
    font-weight: 600 !important;
  }
